<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= book.authors %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= book.series %>
  </p>

  <p>
    <strong>Moods:</strong>
    <%= book.moods %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= book.pages %>
  </p>

</div>
